<h1>coach answers</h1>
<br>
<h2><%= "this is your stupid question" %></h2>
<p><%= @question.capitalize %></p>

<br>
<h2><%= "your stupid coach" %></h2>
<p><%= @coach_answer.capitalize %></p>
<p><%= "your stupid coach" %></li></p>


<%= link_to 'ask another stupid question', ask_path %>
